/* Write your CSS here */
.cart-summary-container {
  display: flex;
  flex-direction: column;
}
.checkout-btn {
  background-color: #0b69ff;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
.total {
  color: #616e7c;
  margin-bottom: 0px;
}
.cost {
  color: #171f46;
  font-weight: bold;
}
.items-desc {
  color: #616e7c;
  margin-top: 0px;
}
.payment-popup {
  padding: 20px;
}
.orders-header {
  color: #000000;
  font-size: 30px;
  text-align: center;
}
.pay-options {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.popup-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.pop-btn-active {
  background-color: blue;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.pop-btn-inactive {
  cursor: not-allowed;
}
.success {
  color: lightseagreen;
  font-size: 20px;
}
